* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  z-index: 1;
}

.calculator {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 1.6rem;
  border: 4px solid rgb(255, 255, 255);
}

.calculator > * {
  border: 4px solid rgb(255, 255, 255);
  padding: 40px;
}

.calculator > *:not(#display):not(#clear):active {
    transform: scale(0.95);
}


.row {
  grid-column: 1 / -1;
}

#display {
  text-align: right;
  overflow: hidden;  /* Hides any overflow */
  white-space: nowrap;  /* Prevents text from wrapping to the next line */
  text-overflow: ellipsis;  /* Optional: displays '...' for overflowed text */
  height: 10px;
  padding-bottom: 85px;
}


#clear {
  text-align: center;
}

.particles-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
